.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbarclass{
  margin-left: 350px;
}
.navbarclass2{
margin-right: 450px;}
.logoss{
  margin-left: 200px;
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
}
.top{
  background-color: skyblue;

}
.headercontent{
  height: 10%;
  width: 100%;
  background-color: skyblue;
}
.align{
  margin-left: 60px;
}
.topbar{
  margin-left: 200px;
  font-family: 'Work Sans', sans-serif;
  font-size: 10px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
